svg {
    font: 10px sans-serif;
    padding: 10px;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    fill: none;
    stroke: #000;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
}

.frame {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: .7;
}

circle.guide {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 1,1;
    stroke-width: .3;
    fill-opacity: .5;
}

circle.hidden {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

.dot {
    stroke: #000;
}

.arc path{
    stroke: #ffffff;
    stroke-linecap: "round";
}

.tooltip {
    display:block;
    position: absolute;
    width: 130px;
    height: 18px;
    pointer-events: none;
    text-align: center;
}

/* parallel coordinaltes */
.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.brush {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}